@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sora:wght@100..800&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-hero: 'Press Start 2P', var(--font-sans);
	--font-sans:
		'Sora', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	--background-color: #22211f;
	--background-color-secondary: #2e2a2770;
	--background-color-tertiary: #342f2cad;
	--background-color-quarternary: #94857d;
	--font-color: #f3dcc6;

	/* --color-primary-50: #fffaeb;
	--color-primary-100: #fff1c6;
	--color-primary-200: #fee389;
	--color-primary-300: #fecb3e;
	--color-primary-400: #feb921;
	--color-primary-500: #f89708;
	--color-primary-600: #db7004;
	--color-primary-700: #b64e07;
	--color-primary-800: #943c0c;
	--color-primary-900: #79320e;
	--color-primary-950: #461802; */

	--color-primary-50: #f7f7fb;
	--color-primary-100: #f0eff8;
	--color-primary-200: #e4e2f2;
	--color-primary-300: #cdcae8;
	--color-primary-400: #b3acd9;
	--color-primary-500: #978ac8;
	--color-primary-600: #7963b2;
	--color-primary-700: #725ca5;
	--color-primary-800: #5f4d8a;
	--color-primary-900: #504171;
	--color-primary-950: #32294c;
}

@layer base {
	body {
		background-color: var(--background-color);
		color: var(--font-color);
		/* background-image:  linear-gradient(var(--background-color-secondary) 2px, transparent 2px), linear-gradient(90deg, var(--background-color-secondary) 2px, transparent 2px), linear-gradient(var(--background-color-secondary) 1px, transparent 1px), linear-gradient(90deg, var(--background-color-secondary) 1px, var(--background-color) 1px);
        background-size: 50px 50px, 50px 50px, 5px 5px, 5px 5px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */
		background:
			linear-gradient(-90deg, var(--background-color-secondary) 1px, transparent 1px),
			linear-gradient(var(--background-color-secondary) 1px, transparent 1px),
			linear-gradient(-90deg, var(--background-color-tertiary) 1px, transparent 1px),
			linear-gradient(var(--background-color-tertiary) 1px, transparent 1px),
			linear-gradient(
				transparent 3px,
				var(--background-color) 3px,
				var(--background-color) 78px,
				transparent 78px
			),
			linear-gradient(-90deg, var(--background-color-quarternary) 1px, transparent 1px),
			linear-gradient(
				-90deg,
				transparent 3px,
				var(--background-color) 3px,
				var(--background-color) 78px,
				transparent 78px
			),
			linear-gradient(var(--background-color-quarternary) 1px, transparent 1px),
			var(--background-color);
		background-size:
			4px 4px,
			4px 4px,
			80px 80px,
			80px 80px,
			80px 80px,
			80px 80px,
			80px 80px,
			80px 80px;
		background-attachment: fixed;
	}
}

@layer components {
	.button {
		@apply flex cursor-pointer flex-row justify-center transition-colors;

		&.sm {
			@apply gap-1 rounded-sm p-2 text-sm hover:outline-2 focus:outline-2;

			& .lucide-icon {
				@apply size-[20px];
			}
		}

		&.xs {
			@apply gap-1 rounded-sm p-1.5 text-xs hover:outline-2 focus:outline-2;

			& .lucide-icon {
				@apply size-[16px];
			}
		}

		&.md {
			@apply gap-1 rounded-lg p-2 hover:outline-3 focus:outline-3;
		}

		&.disabled {
			@apply cursor-not-allowed opacity-80 hover:outline-0;
		}

		&.red {
			@apply bg-red-800 outline-red-50 hover:bg-red-700;
		}

		&.orange {
			@apply bg-orange-800 outline-orange-50 hover:bg-orange-700;
		}

		&.primary {
			@apply bg-primary-800 outline-primary-50 hover:bg-primary-700;
		}

		&.dark-red {
			@apply bg-red-900 outline-red-50 hover:bg-red-800;
		}
	}

	.themed-input-light {
		@apply border-3 border-primary-700 bg-primary-900 fill-primary-50 p-2 text-sm ring-primary-900 placeholder:text-primary-700 active:ring-3;
	}
}

@layer utilities {
	.themed-box {
		@apply rounded-lg border-3 border-dashed border-primary-900 bg-primary-950;
	}
}
